html {
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.title {
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
}

.quote-container{
  font-size: 1rem;
  text-align: center;
  margin: 5% 30% 0 30%;
}

.quote-bg-container {
  margin-top: 7%;
  max-height: 50rem;
  padding: 15% 10% 15% 10%; 
  border-radius: 2rem;

}

.quote{
  padding-bottom: 8%;
}
.quote-icon {
  margin-right: 2%;
}
 .quote-button {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  height: 3rem;
  width: 8rem;
  background-color: rgb(49, 59, 114);
  border: 0;
	outline: none;
  border-radius: 0.5rem;
  float: right;
} 

.quote-social {
	width: 2.5rem;
	height: 2.5rem;  
	display: inline-block;
  padding: 2% 2% 0 2%; 
	background-color: rgb(49, 59, 114);
	text-align: center;
	border: 0;
	border-radius: 0.5rem; 
	font-size: 1.8rem;
	color: #fff;
  float: left;
}

.quote-button:hover,
.quote-button:active,
.quote-social:hover,
.quote-social:active {
	cursor: pointer;
}

.author-name {
  font-style: italic;
}

.credit-container {
  padding-top: 1%;
  margin: 0 40% 0 40%;
}
a {
  color: #fff;
}

/* ChangeColors Component */
.color-container {
  position: absolute;
 left: 58rem;
 top: 9rem;
 padding-top: 2%;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  box-sizing: border-box;
  display: flex;
  background-color: #000;
  width: 60px;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border-radius: 2rem;
  position: relative;
}

.ball {
  background-color: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(32px);
}

